<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="net.fantesy84.scheduler.job"/>
	<bean id="schedulerDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="${jdbc.driver.classname}" />
		<property name="jdbcUrl" value="${datasource.url}" />
		<property name="username" value="${datasource.user}" />
		<property name="password" value="${datasource.passwd}" />
		<property name="partitionCount" value="2" />
		<property name="minConnectionsPerPartition" value="1" />
		<property name="maxConnectionsPerPartition" value="10" />
		<property name="acquireIncrement" value="2" />
		<property name="statementsCacheSize" value="100" />
	</bean>
	
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="true">
		<property name="dataSource" ref="schedulerDataSource" />
		<property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
		<property name="autoStartup" value="true" />
		<property name="configLocation" value="classpath:quartz.properties"/>
	</bean>
	
</beans>
